<header>
  <h1>{{ title }}</h1>
</header>

<main class="content-wrapper">
  

  
  <section class="dashboard-area full-width">
    <app-dashboard 
      (editTransaction)="onEditRequest($event)"
      (addTransaction)="onAddRequest()"
      (manageCategories)="openCategoryModal()"> </app-dashboard>
  </section>
  
  <div class="modal-backdrop" *ngIf="isModalOpen">
    <div class="modal-content">
      <button class="close-modal" (click)="clearEditState()">X</button>
      
      <app-transaction-form 
        [transactionToEdit]="transactionToEdit"
        (formSubmitted)="clearEditState()"
        (formCancelled)="clearEditState()">
      </app-transaction-form>
    </div>
  </div>

  <div class="modal-backdrop" *ngIf="isCategoryModalOpen">
    <div class="modal-content large-modal"> 
      <button class="close-modal" (click)="closeCategoryModal()">X</button>
      
      <app-category-manager></app-category-manager>
    </div>
  </div>
  
</main>